# =========================================
# SEGURIDAD CRÍTICA (NUNCA BORRAR)
# =========================================
.env
.env.local

# =========================================
# ARCHIVOS DE COMPILACIÓN (MAVEN)
# =========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# =========================================
# CONFIGURACIÓN DE IDEs
# =========================================

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS & Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# =========================================
# SISTEMA Y TEMPORALES
# =========================================
HELP.md
*.log
.DS_Store
Thumbs.db